# dependencies
/node_modules
/.pnp
.pnp.js
/auth.json
.idea/

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
config/.env

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode
*.code-workspace

# nano
*.save

# db
/data/*
!/data/.gitkeep

# sublime
*.tern-project
*.sublime-project
*.flowconfig
*.je-project-settings
*.sublime-workspace

# Temporary files
tmp/**

out.json

dist-pages-temp/**

gh-pages/**
dist/**
