/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');

/*if_r output-area */

#if_r-output-area {
  display: flex;
  justify-content: center;
  flex-shrink: 3;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  width: auto;
  white-space: pre-line;
  overflow: auto;
  margin: 10px auto;
  max-width: 72vw;
  font-family: 'Lora',Georgia,"Times New Roman",serif;
  background: #f7f4f1;
  color: black !important;
}

#if_r-output-area a {
  color: blue !important;
  border-bottom: none;
}

#if_r-story-title-wrap {
  padding: 0 10px 10px 0;
  font-size: xx-large;
  text-align: right;
}

/* if_r output-area */

/* if_r main */

.if_r-section {
  padding: 10px 0 10px 0;
  transition: 0.3s all;
}

.if_r-section-choices-list {
  margin-left: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.if_r-section-choice {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-top: 1px solid #a9acaf;
  border-left: 1px solid #a9acaf;
  border-right: 1px solid #a9acaf;
  border-radius: 0;
  color: black;
  max-width: 50vw;
  width: auto;
  margin: 0;
  transition: 0.3s all;
}

.if_r-section-choice-li:first-child > div {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.if_r-section-choice-li:last-child > div {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #a9acaf;
}

.if_r-section-choice>p {
  margin: 0;
}

.if_r-section-choice:hover {
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  background: #E4DED8;
}

.if_r-section-choice-li {
  padding-left: 0;
  transition: 0.3s all;
}

/* if_r main end */

/* if_r topbar */

.if_r-stats-bar {
  width: 100%;
  height: 40px;
  background: white !important;
  color: rgb(40, 40, 40);
  margin: 10px 0 10px 0;
  word-wrap: normal;
  padding: 10px;
}

#if_r-status-bar {
  display: flex;
  flex-shrink: 10;
  background-color: lightgray !important;
  color: black;
  font-family: monospace;
  height: auto;
  width: 100%;
}

#if_r-alerts-area {
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
}

#if_r-alerts-area > pre {
  background: inherit;
  color: inherit;
}

#if_r-burger {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10%;
  cursor: pointer;
  box-shadow: -2px 0 2px grey;
}

#if_r-burger-icon {
  font-size: larger;
  padding: 0;
  margin: auto;
  text-decoration: none;
  color: black !important;
}

#if_r-burger:hover {
  color: #e99;
}

/* if_r topbar end */

/* Sidebar Stats */
.if_r-stats-div {
  max-height: 300px;
  width: 0;
  position: relative;
  z-index: 1;
  background-color: #aaa;
  overflow-x: hidden;
  transition: 0.3s;
  display: none;
  line-height: 15px;
}

.if_r-stats-div a {
  padding: 0 8px 0 25px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}

.if_r-stats-div a:hover {
  color: #f1f1f1;
}

.if_r-stats-div .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.if_r-choice-input {
  margin: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid slategrey;
  color: white;
  background: rgba(0, 0, 0, 0);
}

.if_r-choice-input:hover {
  color: black;
}

pre {
  padding: 10px;
  /*background: darkslategrey;*/
  /*color: white;*/
}

.if_r-section > span {
  transition: 0.3s all;
  font-size: x-large;
}

.if_r-section > div {
  transition: 0.3s all;
}

.if_r-paras {
  transition: 0.3s all;
}

/* Sidebar stats end */

@media (max-width: 800px) {
  #if_r-output-area {
    padding: 0;
  }

  #if_r-section-display-area {
    padding: 10px;
    transition: 0.3s all;
  }

  .if_r-section-choice {
    max-width: 95vw;
  }

  .if_r-section-choices-list {
    margin-left: 0;
  }

  #if_r-output-area {
    width: 95vw;
    max-width: 95vw;
  }

  #if_r-story-title-wrap {
    padding: 0 10px 10px 10px;
  }
}
